<div class="container">
    <h1>Weather Details</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">City - {{cityName}}</h2>
            <h6 class="card-subtitle mb-2">Current temperature: {{temperatureCelsius}}°C</h6>
            <h6 class="card-subtitle mb-2">Atmospheric pressure: {{atmosphericPressure}}hPa</h6>
            <h6 class="card-subtitle mb-2">Humidity: {{humidity}}%</h6>
            <h6 class="card-subtitle mb-2">Wind speed: {{windSpeed}}m/s</h6>
        </div>
    </div>
</div>

<div class="container">
    <a routerLink="">Home</a>
    <a routerLink="/city-list">Back</a>
</div>